<p>
    name:{{name}}
</p>
<ul>
    <li>age:{{age}} </li>
    <li> email:{{email}}</li>
    <li>address:{{address.street}},{{address.city}},{{address.city}},{{address.state}}</li>
</ul>
<button (click)="onClick()">click me</button>
<button (click)="toggleEdit()">Edit me</button>
<div *ngIf=isEdit>
    <h1>Edit user</h1>
    <form>
        <div>
            <label for="name">Name:</label>
            <input type="text" [(ngModel)]="name" name="name">
        </div>
        <div>
            <label for="name">age:</label>
            <input type="text" [(ngModel)]="age" name="age">
        </div>
        <div>
            <label for="name">email:</label>
            <input type="text" [(ngModel)]="email" name="email">
        </div>
        <div>
            <label for="name">street:</label>
            <input type="text" [(ngModel)]="address.street" name="street">
        </div>
        <div>
            <label for="name">city:</label>
            <input type="text" [(ngModel)]="address.city" name="city">
        </div>
        <div>
            <label for="name">state:</label>
            <input type="text" [(ngModel)]="address.state" name="state">
        </div>
    </form>
</div>
<h3>hobbies</h3>
<form (submit)="addHobby(hobby.value)">
    <div>
        <label for="hobby">hobby:</label>
        <input type="text" #hobby>
    </div>
</form>
<ul>
    <li *ngFor="let a of hobbies;let i = index">{{i+1}}: {{a}}<button (click)="deleteHobby(hobby)">x</button></li>
</ul>
<h1>posts</h1>
<div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
</div>