<div class="container">
    <travel-topnav></travel-topnav>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <app-user></app-user>
    <travel-footer></travel-footer>
</div>